<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Swiper</title>
  <link rel="stylesheet" href="./static/style.css">
  <link rel="icon" href="./static/images/heartbook.ico" type="image/x-icon">
</head>

<body>
  <ion-icon id="dislike" name="help-circle"></ion-icon>
  <div id="swiper">
    <!-- Cards will be injected here by JavaScript -->
  </div>
  <ion-icon id="like" name="book"></ion-icon>
  
  <audio id="likeSound" src="./static/sounds/mixkit-arcade-mechanical-bling-210.wav"></audio>
  <audio id="dislikeSound" src="./static/sounds/mixkit-mechanical-crate-pick-up-3154.wav"></audio>


  <script src="./static/card.js"></script>
  <script src="./static/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>


</html>